# 强制依赖到全局，保证唯一实例
public-hoist-pattern[]=vue
public-hoist-pattern[]=vuex
public-hoist-pattern[]=vue-i18n
public-hoist-pattern[]=axios
# 不配置这个选项时候的默认值，我们要手动把他加上
public-hoist-pattern[]=*types*
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=@prettier/plugin-*
public-hoist-pattern[]=*prettier-plugin-*
